html {
  background: rgb(15, 123, 159);
  background: linear-gradient(0deg, rgb(15, 123, 159) 0%, rgb(255, 192, 203) 100%);
}

.t1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px; /* Cambia el tamaño de la fuente aquí */
}


h2 {
  font-family: Bahnschrift condensed;
  text-align: left;
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 290px;
}

p.COVID-19,
p.extended-text,
p.INICIOS_DE_PANDEMIA {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-right: 10px;
  padding: 0;
}

img{

  border-radius: 20px;

}

button {
  margin-left: 0px;
  vertical-align: top;
}

.content {
  display: flex;
  flex-direction: row;
}

.contenedor1 {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinea verticalmente los elementos */
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

img.mundo {
  width: 250px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px; /* Ajusta el margen derecho para separar la imagen del texto */
}

.extended-text {
  display: none;
}

.seguridad{

 margin-top: 20px;

}

.corona{

margin-top: 30px; 
margin-left: 325px;

}

.table {
 
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.table th, .table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}
.tb_1{
  margin-left: 200px; /* Espacio entre la imagen y la tabla */
}
.secun{

  align-items: center;
}
.git{
 width: 60px;
 height: auto;
 align-items: center;
 margin-left: 20px;
 margin-right: 20pk
 ;
 

}
.pie{
  align-items: center;
}


footer {
  text-align: center;
}

.pie {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Añadir dirección de columna para apilar verticalmente */
  border: 4px solid #f30000;
  background: linear-gradient(0deg, rgb(239, 255, 98) 0%, rgb(129, 225, 255) 100%);
}

.link-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Aumentar el espacio entre enlaces y copyright */
}

.pie p { /* Seleccionar el párrafo dentro del pie de página */
  margin: 0; /* Eliminar márgenes predeterminados */
  text-align: center; /* Mantener el texto centrado */
}